/* main styles */

header {
    padding-top: 2em;
}

header,
.nav {
    display: flex;
    flex-direction: column;
}

.pagetitle {
    align-self: center;
    font-family: 'Playfair Display', serif;
}

.nav {
    margin-top: .5em;
}

ul {
    list-style: none;
    
}

.nav a {
    color: #444;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    list-style: none;
    display: block;
    font-size: 1.125em;
    text-align: center;
    padding: .4em;
}

.nav a:visited {
    color: #797e83;
}

.nav a:hover {
    color: 0b0b0b;
    background: #fedeff;
    border-radius: 4px 4px 0 0;
}










/* media queries */



@media (min-width: 769px) {
    header {
        height: 200px;
        justify-content: flex-end;
        border-bottom: 1px solid #fedeff;
    }
    
    .pagetitle {
        font-size: 3em;
        color: #666;
    }
    
    .nav {
        margin: 1em 3em 0 3em;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .nav a {
        border-bottom-color: transparent;
    }
}
